/* NavBar ******************************/
@media (max-width: 991.98px)
.sbs-navbar .navbar-nav-scroll .navbar-nav {
    padding-bottom: 2rem;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

@media (max-width: 991.98px)
.sbs-navbar {
    padding-right: .5rem;
    padding-left: .5rem;
    color: #rgb(255,255,255);
}

@media (min-width: 768px)
.sbs-links {
    display: block!important;
}

.sbs-navbar {
    min-height: 4rem;
    color: rgb(255,255,255);
    background-color: rgb(234,171,29);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
    margin-bottom: 0px;
}

.sbs-navbar .navbar-nav .nav-link.active {
    font-weight: 500;
}

.sbs-slogan{
    color: rgba(255,255,255,0.5);
    margin: 0 0 0rem;
}

.nav-item{
    padding-right: 0.5rem;
}

.sbs-toggle, .sbs-toggle:visited, .sbs-toggle:active, .sbs-toggle:focus {
    line-height: 1;
    color: rgba(255,255,255,0.5);
    outline: none!important;
}

.sbs-toggle:hover{
    color: rgba(255,255,255);
    cursor: pointer;
}

/* NavBar ******************************/
.sbs-sidebar{
    width: 230px;
}

/* Autres ******************************/
.sbs-links {
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-height: calc(100vh - 9rem);
    overflow-y: auto;
}
