<!DOCTYPE html>
<html lang="en">

	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <title>
	    	{% block title %}ScienceByStep{% endblock %}
	    </title>

	    {% block stylesheets %}
		<!-- Latest compiled and minified CSS -->
		<!--
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		-->
		<!-- CDN JQUERRY -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Our Custom CSS -->
    	<link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
    	<!-- Bootstrap -->
    	<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
	    {% endblock %}
	</head>

	<body>
        <!-- navbar  -->
    	{% block navbar %}

		<header class="navbar navbar-expand navbar-dark flex-row bd-navbar">
			<a class="navbar-brand mr-0 mr-md-2" href="/" >
				{% include "svgBrand.html" %} <!-- logo svg --> 
			</a>
			<div class="navbar-nav-scroll">
				<ul class="navbar-nav bd-navbar-nav flex-row">
					<li class="nav-item">
						<a class="nav-link " href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="/">Tutorial</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="/" >Examples</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="/">My Account</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="/">Logout</a>
					</li>
				</ul>
			</div>

			<!-- Social items ? --> 
			<ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex"></ul>

		</header>

        {% endblock %}

    	<!-- Sidebar  -->
		{% block sidebar %}
	    {% endblock %}

	    <!-- Page Content -->
        {% block body %}
		{% endblock %}


       	</div>

    	{% block javascripts %}

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<!--
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		-->

		<!-- Our Custom JS -->
	    <script src="{{ asset('js/main.js') }}"></script>

		<!-- Bootstrap JS -->
	    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

        {% endblock %}

	</body>

</html>